
.form-title {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #00aaff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.form-group input::placeholder {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.8;
}
.next-button-container {
    display: flex;
    justify-content: flex-end; /* Pushes the button to the right */
    margin-top: 20px;
  }
  
  .next-button {
    background-color: #00aaff;
    color: #fff !important;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
    background-color: #0ae2ffdc;
  }
  