

.form-title {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}
.account-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-group {
    flex: 1;
  }
  
  input[matInput], mat-form-field {
    width: 80%;

    background: transparent;
    border: 1px solid #00bfff; /* light blue borders like your design */
    border-radius: 8px;
    padding: 10px;
      color: #ffffff;
      font-size: 14px;
      opacity: 0.8;
  
  }
 mat-select{
  width: 80%; /* Match the width of other input fields */
  background: transparent;
  border: 1px solid #00bfff; /* light blue borders like your design */
  border-radius: 8px;
  padding: 10px; /* Match the padding of other input fields */
  color: #ffffff;
  font-size: 14px;
  opacity: 0.8;
  height: auto; /* Ensure the height adjusts dynamically */
  display: flex;
  align-items: center;
}


  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .back-button, .next-button {
    background-color: #00bfff;
    color: white !important;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 14px;
  }
  
  .back-button:hover, .next-button:hover {
    background-color: #0ae2ffdc;
  }
  

  