<nav class="navbar">
    <div class="logo">
      <img src="Fallback.png" alt="LEONI Logo" />
    </div>
  
    <ul class="nav-links">
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/launch-test" routerLinkActive="active">Launch Test</a></li>
      <li><a routerLink="/test-history" routerLinkActive="active">Test History</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    </ul>
  
    <div class="user-initials" (click)="goToProfile()" title="View Profile">
      {{ userInitials }}
    </div>  </nav>
  